@font-face {
    font-family: "Caravan";
    src: url("../fonts/Caravan.woff2") format("woff2"),
        url("../fonts/Caravan.woff") format("woff"),
        url("../fonts/Caravan.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../fonts/AvenirNextCyr-Regular.eot');
    src: url('../fonts/AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNextCyr-Regular.woff') format('woff'),
    url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');