@font-face {
    font-family: 'Caravan';
    src: local('Caravan Regular'), local('Caravan-Regular'),
        url('Caravan.woff2') format('woff2'),
        url('Caravan.woff') format('woff'),
        url('Caravan.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }